
#plasma {
  position: absolute; 
  top : 100px;
  left: 100px;
}
.button {
  display: inline-block;
  border-radius: 4px; 
  padding: 10px;
  width: 100px;
  text-align: center;
  font-weight: 100;
  box-shadow: inset 3px 3px 3px #efefef;
  margin-right: 5%;
  color: rgba(100, 100, 200, 0.7);
}

.button:hover {
  box-shadow: inset 3px 3px 3px #3079ed;
  cursor: pointer;
}


  @-moz-keyframes spin { 100% { -moz-transform: rotateY(360deg); } }
    @-webkit-keyframes spin { 100% { -webkit-transform: rotateY(360deg); } }
    @keyframes spin { 100% { -webkit-transform: rotateY(360deg); transform:rotateY(360deg); } }